
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Advent+Pro");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Ubuntu");
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// ---------------------------------------------------------------------- BASE
* {
  text-decoration: none;
}
body {
  background-image: url('./../img/topography.svg');
  background-color:white;
  background-size: cover;
}
#status {
  margin-left: 35%;
  text-align: center;
  width: 30%;
  background-color: white;
  border:5px solid black;
}
.messages {
  width: 60%;
  margin-left: 20%;
  font-family: 'Ubuntu', sans-serif;
}

// --------------------------------------------------------------------------BLOGS
.eyeContainer {
  border-radius: 50%;
  width:115px;
  height:115px;
  overflow:hidden;
  background-color: white;
  border: 2px solid black;
  margin:1% 1% 1% 48%;

-webkit-animation: spin 7s linear 0s infinite reverse;
  -moz-animation: spin 7s linear 0s infinite reverse;
  -ms-animation: spin 7s linear 0s infinite reverse;
  -o-animation: spin 7s linear 0s infinite reverse;
  animation: spin 7s linear 0s infinite reverse;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.eye {
  width:100px;
  height:100px;
  background-image: url("./../img/eye.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-position:50% 50%;

  -webkit-animation: spin 9s linear 0s infinite normal;
  -moz-animation: spin 9s linear 0s infinite normal;
  -ms-animation: spin 9s linear 0s infinite normal;
  -o-animation: spin 9s linear 0s infinite normal;
  animation: spin 9s linear 0s infinite normal;
}
.eyeContainer:hover {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  filter: invert(100%);
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(360deg); }
  100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(360deg); }
  100% { -o-transform: rotate(0deg); }
}
.blogs {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}
#blog-post {
  margin: 2% 5% 4% 5%;
  padding: 2%;
  width: 100%;
  height: 51rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 15px;
  font-family: 'Ubuntu', sans-serif;
}
#blog-post:hover {
  .pic {
    filter:none;
    transition: 0.5s ease-in-out;
  }
}
#blog-post .pic {
  height: 20rem;
  width: 50%;
  float:right;
  margin: 1em;
  border-radius: 15px;
  background-position: center;
  filter:blur(3px) grayscale(100%) contrast(70%);
}
@media screen and (max-width: 650px) {
  #blog-post .pic{
    height: 10rem;
  }
}
.pic.one { background-image: url('./../img/motivate-min.png');background-size: cover; }
.pic.two { background-image: url('./../img/type-min.png');background-size: cover; }
.pic.three { background-image: url('./../img/laptop-min.png');background-size: cover; }
.pic.four {  background-image: url('./../img/ar-face-min.png');background-size: contain;background-position: top; }
.pic.five { background-image: url('./../img/arvr.png');background-size: cover; }
.pic.six { background-image: url('./../img/niceshot.png');background-size: cover; }
.pic.seven { background-image: url('./../img/waffles.png');background-size: cover; }
.pic.eight { background-image: url('./../img/poutine.png');background-size: cover; }
.pic.nine { background-image: url('./../img/study.png');background-size: cover; }
.pic.ten { background-image: url('./../img/busy.png');background-size: cover; }
.pic.eleven { background-image: url('./../img/feiri.png');background-size: cover; }
.pic.twelve { background-image: url('./../img/ bao.png');background-size: cover; }




#blog-post h1, h2 {
  color: black;
  font-family: 'Alfa Slab One', cursive;
}
#blog-post p {
  font-size: 18px;
}
#blog-post h1 {
  font-size: 40px;
}
#blog-post a {
  color: hotpink;
}
#blog-post li {
  font-size: 18px;
  font-style: italic;
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background:black;
    height: 10%;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-corner {
    background:black;
}
//-------------------------------------------------------------------------- Navbar
.logo {
  background: url('./../img/svg2.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  margin: 20px 0 0 40px;
}
.navbar {
    width: 100%;
    background:linear-gradient(black, 50%,  transparent);
    overflow: hidden;
    display: flex;
}
.navbar a {
    float: right;
    display: block;
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}
.navbar a:hover {
    color: black;
}
.navbar .icon {
    display: none;
}
@media screen and (max-width: 650px) {
  .navoptions a {display: none;}
  .navbar a.icon {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {

    right:0;
    padding:2px;
  }
  .navbar.responsive a {
    display: inline;
    text-align: right;
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  #logo{
    width: 70px;
    height: 70px;
    transition: .3s ease-in-out;
  }
}

// -----------------------------------------------------------------HERO
$hero-height: 15%;

.hero-section {
  background-size: cover;
  height: $hero-height;
  display: flex;
  justify-content: center;

  .hero-section-text h1 {
    font-size: 5em;
    font-family: 'Alfa Slab One', cursive;
    color: black;
    text-shadow: 1px 1px 2px $black;
    margin-bottom: 5%;
  }
}

// END HERO
// -----------------------------------------------------------------CONTACT PAGE
#contact-form {
  margin: 2% 5% 1% 5%;
}
.contact-container {
  justify-content: center;
  text-align: center;
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 15px;
  padding: 2em;
  margin-left: 10%;
}
.contact-container h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 6em;
}
@media screen and (max-width: 700px) {
  .contact-container h1 {
    font-size:3em;
  }
}
// ENDCONTACT
// --------------------------------------------------------------------------WORK
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}
.invisible {

}
.row {
  width: 100%;
}

#work1 {
  background-image: url('./../img/midi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#work2 {
  background-image: url('./../img/backleaf.jpg');
  background-size: cover;
}
#work3 {
  background-image: url("./../img/background.png");
  background-size: cover;
}
#work4 {
    background-image: url('./../img/graffiti.jpg');
  background-size: cover;
}
#work6 {
    background-image: url('./../img/USA.jpg');
  background-size: cover;
}
#work7 {
    background-image: url('./../img/aliensmash.png');
  background-size: cover;
}
#workR {
  background-image: url("https://source.unsplash.com/random/300x300");
  background-size: cover;
}


#work-section {
  margin: 0 5% 2% 7%;
  width: 85%;
  display:inline-flex;
  flex-direction: row;
  justify-content:center;

}
.chev {
  margin-left: 33%;
  color: grey;
}
.card {
  float: left;
  width: 20em;
  border-radius: 15px;
  margin: 1%;
  .wrapper {
    height: 20em;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    filter: grayscale(90%);

    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .card:hover {
    transform:scale(1.2);
  }
  .data {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      z-index: 1;
    }
  }
  .title {
    margin-top: 7px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
.wrapper:hover {
  filter: none;
  transition: 0.5s ease-in-out;
}


  .header {
    @include cf;
    color: $white;
    .date {
      float: left;
      font-size: 16px;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: aliceblue;
    }
  }

.text {
  padding-top:5px;
  font-family: 'Ubuntu', sans-serif;
}
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}
// -------------------------------------------------------------------------- About me PAGES
.about-pic {
  background: url('./../img/aboutMe.jpg');
  background-size: cover;
  border-radius: 15px;
  height: 40em;
  width: 20%;
  margin: 6% 3% 0 15em;
  float: right;
  box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
}
.about-text {
  background-color: white;
  border-radius: 15px;
  height: auto;
  width: 45%;
  min-width: 15%;
  margin: 0 2% 2% 2%;
  padding: 2em;
  float: right;
}
.about {
  margin: 1%;
}
.about-text h1 {
  font-size: 3.5em;
  font-family: 'Alfa Slab One', cursive;
  margin: 1%;
  letter-spacing: 5px;
}
@media only screen and (max-width: 641px){
  .about-text h1 {
    font-size:2em;
  }
  .about-pic {
    height: 20em;
  }
}
.about-text h2 {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
.about-text li {
  font-size: 18px;
}
.about-text a {
  color: hotpink;
}
.about-text a:hover {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 1550px) {
  .about-text {
    margin-top: 2em;
    margin-left: 5em;
    height: auto;
    width: 50em;
    min-width: 28em;
  }
  .about-pic {
    margin: 2em 0 0 1em;
    width: 60%;
    min-width: 20em;
    max-width: 40em;
    height: 40em;
    background-position: center;
  }
}
.row{
  justify-content: center;
}
// PAGE--------------------------------------------------------------------CSS FLEXBOX GALLERY

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .panels {
    min-height:20vh;
    overflow: hidden;
    display: flex;
    margin: 0 2% 0 2%;
    border-radius: 2em;
  }
  .panel {
    background:transparent;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    color:black;
    text-align: center;
    align-items:center;
    transition:font-size 1s cubic-bezier(0.61,-0.19, 0.7,0.11),
                    flex 1s cubic-bezier(0.61,-0.19, 0.7,0.11);
    font-size: 20px;
    background-size:cover;
    background-position:center;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }


  .panel1 { background:rgba(255,255,255,0.0); }
  .panel5 { background:rgba(255,255,255,0.0); }
  .panel4 {
     background-image: url("./../img/10_swords.png");
     height: 60vh;
   }
   .panel4.panel.open {
     flex: 1;
   }

  .panel > * {
    margin:0;
    width: 100%;
    transition:transform 0.7s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media only screen and (max-width: 1001px) {
  .panel1, .panel5 {
    display: none;
  }
}
  .panel > *:first-child { tranform: translateY(-100%); }
  .panel.open-active > *:first-child { tranform: translateY(0); }

  .panel > *:last-child { tranform: translateY(100%); }
  .panel.open-active > *:last-child { tranform: translateY(0); }


  .panel p {
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 4em;
  }
  .panel a {
    color: black;
    text-decoration: none;
  }
  .panel a:hover {
    transform: scale(0.8);
    transition: 0.4s ease-in-out;
    filter: blur(6px);
  }
  .panel p:nth-child(2) {
    font-size: 4em;
  }
  .panel.open {
    font-size:40px;
    flex:5;
  }
//--------------------------------------------------------------------------FADES

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay:0.2s;
  animation-delay: 0.2s;
}

.fade-in.three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.fade-in.four {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade-in.five {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
